*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container-scroll{
    position: relative;

    & .radios{
        width: 900px;
        height: 30px;
        display: flex;
        justify-content: center;
        
        & input{
            width: 20px;
            height: 20px;           
        }

        & input:not(:last-child){
            margin-right: 10px;
        }
    }

    & .nav-manual, .nav-auto{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: -30px;
        width: 900px;
        height: 30px;

        & .manual-btn, .nav-auto{
            border-radius: 50%;
            width: 18px;
            height: 18px;
            border: 1px solid var(--bg-color);
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }

        & .manual-btn:not(:last-child), div:not(:last-child){
            margin-right: 10px;
        }

        & .manual-btn:hover{
            background-color: var(--bg-color);
        }
    }

    & .nav-auto{
        width: 100%;

        & div{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            transition: 0.4s ease-in-out;
        }
        
        & .active{
            width: 20px;
            height: 20px;
            background-color: var(--bg-color);
        }
    }
}

#radio2:checked ~ .fade{
    margin-left: -25%;
}
