/* SESSÃO SOBRE */
section.sobre{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);

    & .garra{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img{
            width: 400px;
        }

        & p{
            font-family: Impact;
            font-size: 40px;
            margin-top: 40px;
            color: var(--txt-color);
        }
    }

    & .txt-garra{

        & p{
            max-width: 700px;
            font-size: 22px;
            text-align: justify;
            line-height: 1.3em;
            color: #fff;
        }
    }
}