*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --txt-color: #fed000;
    --bg-color1: #056bfa;
    --bg-color: #0A254B;
}

body{
    background-color: var(--bg-color);
}

/* MENU DESKTOP */
header .interface{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: var(--bg-color);
    z-index: 999;
    position: fixed;
    box-shadow: 0 0 10px 8px var(--txt-color);
}

header .logo p, #inicio .foto p{
    font-family: Impact;
    color: #fff;
    font-size: 40px;
}

header .logo span, #inicio .foto span{
    font-family: Impact;
    color: var(--txt-color);
    font-size: 40px;
    text-transform: uppercase;
}

header nav ul{
    text-decoration: none;
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    transition: .2s;
}

header .menu-desktop a:hover{
    font-weight: 600;
    transform: scale(1.05);
    color: var(--txt-color)
}

header .github a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: var(--txt-color);
    transition: 0.2s;
}

header .github a:hover{
    width: 35px;
    height: 34.5px;
    transform: scale(1.1);
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px var(--txt-color);
}

#inicio, #sobre, #cartao, #contato{
    width: 100%;
    height: 750px;
    font-size: 20px;
    text-align: center;
}

#inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
}

#inicio img{
    width: 350px;
}

#inicio h1{
    color: #fff;
}

#inicio .descricao p{
    max-width: 650px;
    font-size: 30px;
    color: var(--txt-color);
}

/* EFEITO FLUTUAR */
#inicio .foto{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}

/* SESSÃO SOBRE */
.sobre, .cartao, .contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color1);
}
.sobre .garra img{
    width: 300px;
}

.sobre .garra p{
    font-family: Impact;
    font-size: 40px;
    margin-top: 40px;
    color: var(--txt-color);
}
.sobre .txt-garra p, .cartao p, .contato p{
    width: 500px;
    font-size: 30px;
    color: #fff;
}

/* SESSÃO CARTÃO */
.cartao {
    background-color: var(--txt-color);
}

/* SESSÃO CONTATO */
.contato {
    background-color: var(--bg-color);
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;

}

.formulario h1{
    color: var(--txt-color);
    font-size: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #304e79;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    margin-top: 20px ;
}

form textarea{
    resize: none;
    max-height: 400px;
}
form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 200px;
    color: var(--bg-color);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
